(
    {
        "corn": (
            icon_path: "icons/corn.png",
            max_stack_size: 10,
            item_type: ingredient,
        ),
        "cannon_tower": (
            icon_path: "icons/tower.png",
            max_stack_size: 1,
            item_type: tower,
        ),
    }
)
