(
    {
        "health_potion": (
            icon_path: "icons/potion.png",
            max_stack_size: 5,
            item_type: ingredient,
        ),
        "cannon_tower": (
            icon_path: "icons/tower.png",
            max_stack_size: 1,
            item_type: tower,
        ),
    }
)
