(
    {
        "cannon_tower": (
            ingredients: [
                (item_id: "health_potion", quantity: 2),
            ],
            output_id: "cannon_tower",
            output_quantity: 1,
            cooking_duration: 8.0,
        ),
    }
)
